{% extends 'generator/base.html' %}
{% block content %}    
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Password Generator</title>
  </head>
  <body>
    {% comment %} <Body background="https://source.unsplash.com/WLUHO9A_xik/1600x900"> {% endcomment %}

      <div class="container text-center">
 
        <h1> Your Password </h1>
        
        <h2 class="alert alert-success">{{password}}</h2>
        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>  
        </div>
        
    <h3><p style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;">Made with &#10084;&#65039; in India</p></h3>
       
  

  </body>
</html>


{% endblock %}































